@tailwind base;
@tailwind components;
@tailwind utilities;

.success, .warning{
  background: #008f2b;
  color: #ffffff;
  text-shadow: 2px 2px 2px #4e4e4e;
  border-radius: 15px;
}
.warning {
  background: rgb(209, 124, 0);
  background: -moz-linear-gradient(
    25deg,
    rgba(209, 124, 0, 1) 0%,
    rgba(158, 27, 0, 1) 80%
  );
  background: -webkit-linear-gradient(
    25deg,
    rgba(209, 124, 0, 1) 0%,
    rgba(158, 27, 0, 1) 80%
  );
  background: linear-gradient(
    25deg,
    rgba(209, 124, 0, 1) 0%,
    rgba(158, 27, 0, 1) 80%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d17c00",endColorstr="#9e1b00",GradientType=1);
}
